/* sc-component-id: LanguageSwitch__Lang-suu3dw-0 */
.bWONrX {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-family: Lato;
  font-size: 20px;
  border-bottom: 4px solid #ff5700;
}
.bWONrX[href="#"] {
  color: #000000;
  border-bottom-color: transparent;
}
/* sc-component-id: LanguageSwitch__Separator-suu3dw-1 */
.dDuyeC {
  font-family: Lato;
  font-size: 20px;
  color: #dbdbdb;
  margin: 0 0.5em;
}
/* sc-component-id: LinkButton__ExternalPrimaryBox-sc-7xanjv-4 */
.jomjLr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-color: #dbdbdb;
  color: #7e7e7e;
  font-family: Lato;
  font-weight: bold;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: white;
  background-color: #ff5700;
}
.jomjLr.inline {
  width: 100%;
  font-size: 20px;
}
@media (max-width: 576px) {
  .jomjLr.large,
  .jomjLr.normal {
    padding: 0.4em 0;
  }
}
/* sc-component-id: Header__Box-cf8url-0 */
.burBRz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  height: 90px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.16);
}
/* sc-component-id: Header__InnerBox-cf8url-1 */
.yzznJ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  max-width: 1200px;
}
/* sc-component-id: Header__Brand-cf8url-2 */
.dnptJw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 20px 40px;
}
/* sc-component-id: Header__LogoLink-cf8url-3 */
.djVBrR {
  margin-right: 20px;
  line-height: 0;
}
/* sc-component-id: Header__MenuBox-cf8url-4 */
.eegZMn {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* sc-component-id: Header__MenuItem-cf8url-5 */
.bHHiKL {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000000;
  font-family: Lato;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
}
.bHHiKL:last-of-type {
  margin-right: 40px;
}
/* sc-component-id: Header__TicketBox-cf8url-6 */
.gSXKJP {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  max-width: 200px;
}
/* sc-component-id: HeaderMobile__Box-sc-1ux795-0 */
.jpyNrO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.16);
}
/* sc-component-id: HeaderMobile__InnerBox-sc-1ux795-1 */
.IZtMw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 90px;
  padding: 20px;
}
/* sc-component-id: HeaderMobile__Brand-sc-1ux795-2 */
.jRelci {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}
/* sc-component-id: HeaderMobile__LogoLink-sc-1ux795-3 */
.fhIQO {
  margin-right: 20px;
  line-height: 0;
}
/* sc-component-id: HeaderMobile__TicketBox-sc-1ux795-7 */
.iwXkgO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 48px;
  margin-right: 20px;
}
/* sc-component-id: Footer__Box-sc-1pfi1gx-0 */
.bkJaYS {
  padding: 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #dbdbdb;
}
/* sc-component-id: Footer__LinksBox-sc-1pfi1gx-1 */
.dVtCOx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.dVtCOx > a::after {
  margin: 0px 8px;
  content: "|";
}
.dVtCOx > a:last-child::after {
  content: "";
}
@media (max-width: 576px) {
  .dVtCOx {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* sc-component-id: Footer__Link-sc-1pfi1gx-2 */
.duChTv {
  line-height: 1.8em;
}
@media (max-width: 576px) {
  .duChTv::after {
    content: "" !important;
  }
}
/* sc-component-id: Footer__ExternalLink-sc-1pfi1gx-3 */
.jFQtoe {
  line-height: 1.8em;
}
@media (max-width: 576px) {
  .jFQtoe::after {
    content: "" !important;
  }
}
/* sc-component-id: Button__PrimaryBox-sc-1yybhfm-1 */
.lcIiKO {
  cursor: pointer;
  display: inline-block;
  font-family: Lato;
  padding: 10px 24px;
  color: white;
  background-color: #ff5700;
}
/* sc-component-id: Layout__MainBox-fgbu9g-0 */
.jRuauw {
  position: relative;
}
/* sc-component-id: Layout__BackToTopBox-fgbu9g-1 */
.jvHmzL {
  position: absolute;
  bottom: 0;
  right: 40px;
}
/* sc-component-id: Layout__OnlyMobile-fgbu9g-2 */
@media (min-width: 577px) {
  .ebJzwE {
    display: none;
  }
}
/* sc-component-id: Layout__NotMobile-fgbu9g-3 */
@media (max-width: 576px) {
  .kMuEcy {
    display: none;
  }
}
/* sc-component-id: Title__Box-ic2qmd-0 */
.bUmMGy {
  text-align: center;
  margin: 40px 0 60px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: Lato;
}
/* sc-component-id: ResponsiveBox__Box-s7imgo-0 */
.kZqCVp {
  width: 100%;
  max-width: 940px;
  padding: 2em 1em 5em;
  margin: 0 auto;
  box-sizing: border-box;
}
/* sc-component-id: Breadcrumb__Box-whtkqw-0 */
.gfusAy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* sc-component-id: Breadcrumb__Text-whtkqw-1 */
.hpRITe {
  margin-right: 0.5em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Lato;
  text-transform: uppercase;
}
/* sc-component-id: Speaker__LinkContainer-qwrs2t-0 */
.gTrjFQ {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #000000;
}
/* sc-component-id: Speaker__Avatar-qwrs2t-1 */
.hOvvkZ {
  width: 100%;
  max-width: 273px;
}
/* sc-component-id: Speaker__Title-qwrs2t-2 */
.enSTYP {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  overflow-wrap: break-word;
}
/* sc-component-id: Speaker__Name-qwrs2t-3 */
.jwZRZT {
  margin-bottom: 0;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
}
/* sc-component-id: SpeakerList__Container-sc-9znzfd-0 */
.gIAgoz {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}
@media (max-width: 576px) {
  .gIAgoz {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url(/2019/google-fonts/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format("woff2"),
    url(/2019/google-fonts/s/lato/v16/S6uyw4BMUTPHjx4wWA.woff) format("woff");
  font-display: swap;
}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}


.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}







p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
